.nav li {
  float: left; list-style-type: none;
}

.jumbotron {
  margin-bottom: -5px;
}

/*form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}*/

.questions-list {
  margin-right: 30px;
  margin-left: auto;
}

.btn-xs {
  align: right;
}

.well {
  padding: 45px;
}

.brand-heading {
  margin-top: 100px;
}

.small {
  font-size: 80%;
}
