<div class='container'>
  <div class="jumbotron">
    <h1>Question and Answer Forum</h1>
  </div>
  <nav class='navbar navbar-default'>
    <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'questions'}}Questions{{/link-to}}</li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
  </div>
  </nav>
  {{outlet}}
</div>
