<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <!-- <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
      <li>{{#link-to 'recent-comments'}}Recent comments{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li> -->
    </ul>
  </nav>
  {{outlet}}
</div>
