<h2>New Answer</h2>

<form>
<div class="form-group">
<label for="text">Your thoughts:</label>
{{textarea value=text id="text" class="form-control" rows="5"}}
</div>

<button class="btn btn-primary" {{action "save"}}>Add your Answer</button>
</form>
