<div class="container">
  <br><br>
  <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp; </span>New Answer </h2>
  <form>
    <div class="form-group">
      <label for="text">Your Answer:</label>
      {{textarea value=text id="text" class="form-control" rows="5"}}
  </div>
  <button class="btn btn-default btn-block" {{action "save"}}>Add your Answer</button>
  </form>
  <br><br>
</div>
