<div class="container">
  <h1>
    All Questions
  </h1>
  <hr>
  {{#if model}}
    {{#each question in model}}
      <div class="round-box question">
        <h3 class="intro">
          {{#link-to 'question' question}}{{question.title}}{{/link-to}}
        </h3>
        <span class="intro">&mdash; {{question.author}}</span>
      </div>
    {{/each}}
    {{else}}
    <br>
    <div class="round-box">
      <h2>
        <span class="intro glyphicon glyphicon-alert" aria-hidden="true"></span>
      </h2>
      <h4 class="intro">
        It looks like there aren't any questions yet! Try adding one below.
      </h4>
    </div>
  {{/if}}
  <br>
  <br>
  {{#link-to 'new-question' classNames="btn btn-default btn-block"}}
  <span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;</span>New Question{{/link-to}}
</div>
<br><br><br>
