<h3 class="title">All Questions</h3>
<hr>
<div class="questions-list">
  {{#if model}}
    <ul>
      {{#each question in model}}
      <li><h4>{{#link-to 'question' question}}{{question.title}}{{/link-to}}</h4>
      <p class="text-right"> &mdash; {{question.author}}</p></li><hr>
      {{/each}}
    </ul>
  {{else}}
    <div class="alert alert-info" role="alert">
      <em>It looks like there aren't any questions yet! Why don't you add one:</em>
    </div>
  {{/if}}
  {{#link-to 'new-question' classNames="btn btn-primary btn-block"}}New Question{{/link-to}}
</div>
