<h3>All Questions</h3>

<ul>
  <li>test</li>
  {{#each question in model}}
  <li>{{#link-to 'question' question}}{{question.title}}{{/link-to}}</li>
  {{/each}}
</ul>

{{#link-to 'new-question' classNames="btn btn-primary"}}New Question{{/link-to}}
