<h3 class="title">All Questions</h3>

<div class="questions-list">

  {{#if model}}
    <ul><hr>
      {{#each question in model}}
      <li>{{question.author}}   -   {{#link-to 'question' question}}{{question.title}}{{/link-to}}</li><hr>
      {{/each}}
    </ul>
  {{else}}
    <h4><em>It looks like there aren't any questions yet! Why don't you add one:</em></h4>
  {{/if}}
  {{#link-to 'new-question' classNames="btn btn-primary btn-block"}}New Question{{/link-to}}

</div>
