.nav li {
  float: left; list-style-type: none;
}

.jumbotron {
  margin-bottom: -5px;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.block-grid-3 {
  display: block;
  overflow: hidden;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.block-grid-3 > li {
  width: 33.33333%;
  float: left;
  padding: 0 12px 12px;
  display: block;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.block-grid-3 > li:nth-of-type(3n+1) {
  clear: left;
}
